body {
	font-family: 'Manrope';
  background: url("/images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding-top: 30px;
}

.header {
  font-size: 10px;
  padding: 0em 0em 0em 0em;
  padding: 100px;
  text-align: center;
  background: url("/images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%
}

.header p {
  padding: 1rem;
}

.header__conteudo__cont p {
  font-size: 19px;
}

.header h1 {
  font-size: 35px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.card__header{
  padding: 2rem 0rem 0rem 0rem;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 0px 0px rgb(175, 175, 175);
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.card__footer {
  padding: 2rem 0rem 0rem 0rem;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 1px 0px rgb(175, 175, 175);
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.botao_primario {
  padding: 3rem 0rem 3rem 0rem;
  background-color: white;
  display: flex;
  justify-content: center;
}


#range {
  width: 85%;
}

.card_monthy{
  color: grey;
  padding-right: 15px;
}

.card_billing{
  color: grey;
  padding: 0px 15px 0px 15px;
}

.card_discount{
  padding-left: 0px;
  color: orange;
  background-color: #FFE4C4;
  border-radius: 15px;
}


.card_view {
  color: grey;
  font-size: 19px;
  padding: 0px 200px 15px 50px;
  display: flex;
  text-align: start;
  align-self: center;
}

.card_preco{
  padding-right: 60px;
  padding-bottom: 30px;
}

.card_cont{
  padding: 0px 60px 50px 250px;
  display: flex;
  text-align: start;
  background-color: white;
}


.card_duracao{
  color: grey;
}


#preco {
  font-size: 40px;
  font-weight: bold
}


.card_item{
  padding: 0px 0px 10px 0px;
}

li {
  list-style-type: none;
}

.card_list{
  padding: 0px 0px 50px 50px;
}

.btn__secundario{
  color: #836FFF;
  background-color: #191970;
	display: inline-block;
	border-radius: 2rem;
	padding: 0.75rem 1rem;
	outline: none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.23s ease-in-out;
	text-decoration: none;
	min-width: 14rem;
	border: none;
	cursor: pointer;
}

.btn__secundario:hover {
  background: MediumBlue;
}

.attribution {
  padding-top: 50px;
}

 

