body {
  font-family: 'Manrope';
  background: url("/images/bg-pattern.svg");
  background-repeat: no-repeat;
  margin: 0 1rem;
}

.header {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.header-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 100%;
  background: url("/images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center center;
}


.header-titles h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-titles p {
  color: grey;
  max-width: 70%;
  text-align: center;
  line-height: 0.2rem;
  
}

.card {
  box-shadow: 0rem 0rem 2rem 0rem rgb(175, 175, 175);
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 3rem;
  border-radius: 0.5rem;
  margin: 2rem auto;
  max-width: 600px;;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2.5rem;
}

.card-body {;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3rem auto;
}

.card-item{
  padding: 0rem 0rem 1rem;
}

.card-footer {
  box-shadow: 0rem 0rem 0rem 0rem rgb(175, 175, 175);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2.5rem;
  padding: 1rem;
}


 .button-Sendtrial{
   color: #AACEF4;
   background-color: hsl(227, 35%, 25%);
   display: inline-block;
   border-radius: 50px;
   padding: 1rem 0rem;
   outline: none;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
   transition: all 0.23s ease-in-out;
   text-decoration: none;
   min-width: 14rem;
   border: none;
   cursor: pointer;
 }
 
 .button-Sendtrial:hover {
   background: #191970;
 }

#card-header-pageview-counter {
  grid-area: cardHeaderPageViewCounter;
  color: grey;
}

#card-header-price-value {
  font-size: 2.5rem;
  font-weight: bold;
}

#toggle_discount {
    width: 20%;
}


.card-body-discount {
  background-color: hsl(14, 92%, 95%);
  background-size: 20;
  font-size: 1rem;;
  color: hsl(15, 100%, 70%);
  border-radius: 15px;
  padding: 0.4rem;
}

.card-body-discount span {
  display: none;
}

.card-header-price-period {
  color: grey;;
}

.card-header-slider {
  width: 100%;
  grid-area: cardHeaderSlider;
}

.card-header-price {
  grid-area: cardHeaderPrice
}


footer {
  text-align: center;
}



 /*ESTILO BOTAO SLIDER*/

 input[type='range'] {
  -webkit-appearance:none;
  margin:10px 0;
  width:100%
}

input[type='range']:focus {
  outline:none
}

.slider {
  width:100%;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  height:0.6rem;
  background:-webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(50%, #a5f3eb), color-stop(50%, #eaeefb), to(#eaeefb));background:linear-gradient(to right, #a5f3eb 0%, #a5f3eb 50%, #eaeefb 50%, #eaeefb 100%);
  border-radius:1rem;
  outline:none
}

.slider::-webkit-slider-thumb {
  -webkit-box-shadow:0 12px 10px 5px rgba(165,243,235,0.6);
  box-shadow:0 12px 10px 5px rgba(165,243,235,0.6);
  border:0px solid #000000;
  height:2.5rem;
  width:2.5rem;
  border-radius:50%;
  background-color:#10d5c2;
  background-image:url("../images/icon-slider.svg");
  background-position:center;background-repeat:no-repeat;
  cursor:pointer;
  -webkit-appearance:none
}

.slider::-webkit-slider-thumb:active,.slider::-webkit-slider-thumb:hover {
  background-color:#25ada3
}
.slider::-moz-range-thumb {
  box-shadow:0 12px 10px 5px rgba(165,243,235,0.6);
  border:0px solid #000000;
  height:3.8rem;
  width:3.8rem;
  border-radius:50%;
  background-color:#10d5c2;
  background-image:url("../images/icon-slider.svg");
  background-position:center;
  background-repeat:no-repeat;
  cursor:pointer;
  -webkit-appearance:none
}

.slider::-moz-range-thumb:active,.slider::-moz-range-thumb:hover {
  background-color:#25ada3
}


/*ESTILO CHECKBOX*/

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #73EFDE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #73EFDE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
}

/*DESKTOP*/
@media screen and (min-width: 376px) {



  .card-header {
    display: grid;
    grid-template-areas: "cardHeaderPageViewCounter cardHeaderPrice"
    "cardHeaderSlider cardHeaderSlider"
  }

  .card-body {;
    display: flex;
    gap: 1rem;
  }

  #toggle_discount {
    width: 40px;
}

.card-body-discount span {
  display: flex;
}

.card-header-slider {
  width: 600px;
}

  /*ESTILO BOTAO SLIDER*/

input[type='range'] {
  -webkit-appearance:none;
  margin:10px 0;
  width:100%
}

input[type='range']:focus {
  outline:none
}

.slider {
  width:100%;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  height:0.6rem;
  background:-webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(50%, #a5f3eb), color-stop(50%, #eaeefb), to(#eaeefb));background:linear-gradient(to right, #a5f3eb 0%, #a5f3eb 50%, #eaeefb 50%, #eaeefb 100%);
  border-radius:1rem;
  outline:none
}

.slider::-webkit-slider-thumb {
  -webkit-box-shadow:0 12px 10px 5px rgba(165,243,235,0.6);
  box-shadow:0 12px 10px 5px rgba(165,243,235,0.6);
  border:0px solid #000000;
  height:3.8rem;
  width:3.8rem;
  border-radius:50%;
  background-color:#10d5c2;
  background-image:url("../images/icon-slider.svg");
  background-position:center;background-repeat:no-repeat;
  cursor:pointer;
  -webkit-appearance:none
}

.slider::-webkit-slider-thumb:active,.slider::-webkit-slider-thumb:hover {
  background-color:#25ada3
}
.slider::-moz-range-thumb {
  box-shadow:0 12px 10px 5px rgba(165,243,235,0.6);
  border:0px solid #000000;
  height:3.8rem;
  width:3.8rem;
  border-radius:50%;
  background-color:#10d5c2;
  background-image:url("../images/icon-slider.svg");
  background-position:center;
  background-repeat:no-repeat;
  cursor:pointer;
  -webkit-appearance:none
}

.slider::-moz-range-thumb:active,.slider::-moz-range-thumb:hover {
  background-color:#25ada3
}




/*ESTILO BOTAO CHECKBOX */

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #73EFDE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #73EFDE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
}
}